<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVISC">
        
        <title>Computation parameters | GAVISC</title>

        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <!--[if IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>
        <script src=""></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>
        
        <style>
            td > input[type="text"] {
                text-align: right;
            }
        
            #basic-parameters th:hover, #advanced-parameters th:hover {
                cursor: help;
                border-left: thick solid #f70;
                padding-left: 0.5em;
            }

            #basic-parameters tr:hover, #advanced-parameters tr:hover {
                background-color: #eee;
            }
        
        </style>
    </head>

    <body>
        <header>
            <h1>GAVISC</h1>
            <h2>Gaia Added-Value Interface for Spectral Classification</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}" target="manual">user manual</a> for help.
            <nav>
                <a class="tab-link selected" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
            <div id="server-error" hidden>
            A server error occurred! If the problem seems to persist, please contact support.
            </div>
        </header>

        <main class="modal">
            <a class="modal-exit-link" href="search-asteroids">&#9587;</a>
            <section id="parameters" class="modal-content">

                <h3>Computation parameters</h3>
                <p>Both algorithms SPEC-C and SPEC-OCF will be run. 

                <form method="post" action="jobs/">

                    {% csrf_token %}
                    <input type="hidden" name="base" value="{{base}}" readonly>

                    <table>

                        <tbody>
                            <tr>
                                <th>Number</th>
                                <td><input type="text" name="astno" value="{{astno}}" readonly></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td><input type="text" name="astname" value="{{astname}}" readonly></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Designation</th>
                                <td><input type="text" name="astdsg" value="{{astdsg}}" readonly></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>

                    <label><input type="checkbox" name="csv" value="true" checked> Output CSV</label>
                    <label><input type="checkbox" name="vot" value="true" checked> Output VOTable</label>
                    <p><input type="submit" value="Submit computation">
                </form>


            
            </section>
        </main>
    </body>



    <script>
    (function () {
        'use strict';
    
        var parameters = document.getElementById('parameters');
        var serverError = document.getElementById('server-error'); 
        
        listen(parameters, 'change', '.toggle-advanced', function (event) {
            var advancedParameters = document.getElementById('advanced-parameters'); 
            advancedParameters.hidden = !this.checked;
        });

        // handle form submission and invalidity marking
        listen(parameters, 'click', 'input[type="submit"]', function (event) {
            event.preventDefault();
            $.post('jobs/', $(parameters.querySelector('form')).serialize())
            .done(function () {
                location.replace('search-asteroids');
            })
            .fail(function (data, status, jqxhr) {
                serverError.setAttribute('hidden', false);
                setTimeout(function () {
                    serverError.setAttribute('hidden', true);
                }, 15000);
            });
        });

    }());
    </script>



</html>































<!-- 

        <main class="modal">
            <a class="modal-exit-link" href="">Back</a>
            <section class="modal-content"> jhg jhg kjhg kjgkgkhjg kjhg kh
            </section>

            <section class="modal-content"> jhg jhg kjhg kjgkgkhjg kjhg kh
            </section>
            <section class="modal-content"> jhg jhg kjhg kjgkgkhjg kjhg kh
            </section>
            <section class="modal-content"> jhg jhg kjhg kjgkgkhjg kjhg kh
            </section>
        </main>


-->




