<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVISC">
        
        <title>Introduction | GAVISC</title>
        {% load static %}
        
        <script>
        if (localStorage.getItem('hide-introduction') != null) {
            window.location.replace('search-asteroids');
        }
        </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <!--[if IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>
        <script src=""></script>

        <style>
        .logo {
            display: inline-block;
            height: 100px;
            
            padding: 0;
            border: 0;
            margin: 0;
            
        }

        .nota-bene {
            margin: 1em;
            border: solid 4px #b30;
            padding: 1em;
        }

        </style>

    </head>

    <body>
        <header>
            <h1>GAVISC</h1>
            <h2>Gaia Added-Value Interface for Spectral Classification</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}" target="manual">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main class="modal">
            <a class="modal-exit-link" href="search-asteroids">&#9587;</a>
            <section class="modal-content">
            <h2>Welcome to GAVISC!</h2>
            <p>Version {{version}}</p>
            <img class="logo" src="{% static 'image001.jpg' %}"></img>
            <img class="logo" src="{% static 'image001.png' %}"></img>
            <img class="logo" src="{% static 'image002.jpg' %}"></img>
            <div class="nota-bene">
                <p>Please note! Due to unavailability of applicable Gaia asteroid data (as of this release of GAVISC), GAVISC currently utilizes <strong>simulated data</strong> for computations.
                <p>Please feel free to experiment with GAVISC, but note that any results obtained are <strong>not based on Gaia observations</strong>.
            </div>
            <p>The Gaia Added Value Interface for Spectral Classification (GAVISC) is designed to perform spectral analysis for asteroid spectral data in the Gaia archive in ESAC in order to define the taxonomic class and the absorption coefficient of the asteroid. GAVISC is developed by SSF in co-operation with the University of Helsinki.
            <p>GAVISC AVI is designed for analyzing spectral properties of asteroids. GAVISC will produce a) a Bus-DeMeo taxonomic classification of the asteroid, and b) a best-fit spectral behavior of the absorption coefficient of the asteroid’s surface material.
            <p>See the <a href="{% static 'manual.html' %}" target="manual">user manual</a> for more help.

            <p><label><input name="hide-introduction" type="checkbox"> Do not show this again</a>
            </section>
        </main>

        <script>
        (function () {
            'use strict';
            
            window.addEventListener('beforeunload', function (event) {
                if (document.querySelector('input[name="hide-introduction"]').checked) {
                    localStorage.setItem('hide-introduction', 'true');
                }
            });
        
        }());
        </script>

    </body>


</html>











