<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVISC">
        
        <title>Results | GAVISC</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <!--[if IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>
        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
            //Object.assign(window, __());
        }());
        </script>

        <style>
            td > input[type="text"] {
                text-align: right;
            }

            input.delete-computation {
                background-color: #f77 !important;
            }

            tbody.progress {
                border: thin solid #bbb;
            }

            iframe {
                padding: 0;
                border: thin solid #bbb;
                margin: 0;
            
                width: 100%;
            }

            iframe[src] {
                height: 1000px;
            }
            
            summary {
                font-size: 150%;
                font-weight: bold;
            }


        </style>
        
    </head>

    <body>
        <header>
            <h1>GAVISC</h1>
            <h2>Gaia Added-Value Interface for Spectral Classification</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}" target="manual">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link selected" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main class="modal">
            <a class="modal-exit-link" href="own-computations">&#9587;</a>


            <details id="computation" class="modal-content" open>
                <summary>Computation</summary>

                    <table>

                        <tbody>
                            <tr data-row="Pmax" title="">
                                <th>Number</th>
                                <td><input type="text" name="astno" value="{{astno}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Name</th>
                                <td><input type="text" name="astname" value="{{astname}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Designation</th>
                                <td><input type="text" name="astdsg" value="{{astdsg}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Progress</th>
                                <td><progress id="progress-bar"></td>
                            </tr>

                        </tbody>

                    </table>
                    <p><input class="delete-computation" type="button" value="Delete computation" data-url="jobs/{{md5}}">

            </details>

            <details id="results" class="modal-content" hidden>
                <summary>Results</summary>
                <p>
                <input id="download-btn" type="button" class="portal" value="Download">
                <input id="share-btn" type="button" class="portal" value="Share">
                <input id="reveal-btn" type="button" class="portal" value="View in userspace">
                <iframe id="viz2d"></iframe>
                
            </details>


        </main>

        <script>

            var computation = document.getElementById('computation');


            var downloadBtn = document.getElementById('download-btn');
            var shareBtn = document.getElementById('share-btn');
            var revealBtn = document.getElementById('reveal-btn');


            listen(computation, 'click', '.delete-computation', function (event) {
                var $t = $(event.target);
                if (confirm('Delete computation: are you sure?')) {
                    $.ajax({
                        url: $t.data('url'),
                        type: 'DELETE',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                        },
                        success: function (result) {
                            location.href = 'own-computations';
                        },
                        fail: function () {
                            // show error message
                        }
                    })
                }
            });


            $(downloadBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/download', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });

            $(shareBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/share', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });

            $(revealBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/reveal', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });


            var progressIntervalID = setInterval((function _fetch_progress() {
                $.get('jobs/{{md5}}/progress', function (data, status, jqxhr) {
                    var element = document.getElementById('progress-bar');
                    element.setAttribute('value', Math.round(data['progress']));
                    element.setAttribute('max', '100');
                    if (data['is-completed']) {
                        clearInterval(progressIntervalID);
                        document.getElementById('viz2d').setAttribute('src', 'jobs/{{md5}}/viz2d');
                        document.getElementById('results').removeAttribute('hidden');
                    }
                    
                }, 'json');
                return _fetch_progress;
            }()), 5000);


        </script>


    </body>


</html>






