

<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVISC">
        
        <title>Search asteroids | GAVISC</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">


        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <!--[if IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <script id="search-result-template" type="text/x-template">
        <tr class="search-result" data-href="computation-parameters?astno=${astno}&astname=${astname}&astdsg=${astdsg}">
            <td>${astno}</td>
            <td>${astname}</td>
            <td>${astdsg}</td>
        </tr>
        </script>

        <style>
        .search-input {
            margin-bottom: 1em;
        }
        </style>

    </head>

    <body>
        <header>
            <h1>GAVISC</h1>
            <h2>Gaia Added-Value Interface for Spectral Classification</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}" target="manual">user manual</a> for help.
            <nav>
                <a class="tab-link selected">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main>
            <section id="search">
            
                <input class="search-input" type="search" placeholder="Type asteroid number, name or designation" autofocus>

                <table>
                
                    <thead>
                        <tr>
                            <th class="column-header selected" data-column-name="astno">Number</th>
                            <th class="column-header" data-column-name="astname">Name</th>
                            <th class="column-header" data-column-name="astdsg">Designation</th>
                        </tr>
                    </thead>

                    <tbody class="items" data-template="search-result-template"></tbody>
                    
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="paging">
                                    <input class="previous-page" type="button" value="&#171;">
                                    <span class="page-no">0</span> / <span class="pages-total">0</span>
                                    <input class="next-page" type="button" value="&#187;">
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>


            
            </section>
        </main>
    </body>




    <script>
    (function () {
        'use strict';
    
        var state = {
            'query': '',
            'order-by': 'astno',
            'order': 'ascending',
            'page-no': 0,
            'page-size': 20,
            'pages-total': 0,
            'page': []
        };

        var search = document.getElementById('search');

        var refresh = debounce(function _refresh() {
            search.querySelector('input.search-input').value = state['query'];
            search.querySelectorAll('th.column-header').forEach(function (columnHeader) {
                if (columnHeader.getAttribute('data-column-name') === state['order-by']) {
                    columnHeader.classList.add('selected');
                    if (state['order'] === 'ascending') {
                        columnHeader.classList.remove('descending');
                    } else {
                        columnHeader.classList.add('descending');
                    } 
                } else {
                    columnHeader.classList.remove('selected');
                }
            });
            $.getJSON('search', {
                'query': state['query'],
                'order-by': state['order-by'],
                'order': state['order'],
                'page-no': state['page-no'],
                'page-size': state['page-size']
            }).done(function _done(data) {
                var items = search.querySelector('.items');
                var templateID = items.getAttribute('data-template');
                var template = document.getElementById(templateID).textContent;  
                items.innerHTML = data['page'].map(renderHTML.bind(null, template)).join('\n');
                search.querySelector('.page-no').textContent = data['page-no'];
                search.querySelector('.pages-total').textContent = data['pages-total'];
                reassign(state, data);
            }).fail(console.log);
        }, 200);

        listen(search, 'input', '.search-input', function (event) {
            state['query'] = normalizeWhitespace(this.value);
            state['page-no'] = 1; 
            refresh();
        });

        listen(search, 'click', '.previous-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.max(1, state['page-no'] - 1);
                refresh();
            }
        });

        listen(search, 'click', '.next-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.min(state['pages-total'], state['page-no'] + 1);
                refresh();
            }
        });

        listen(search, 'click', '.column-header', function (event) {
            if (state['order-by'] === this.getAttribute('data-column-name')) {
                if (state['order'] === 'ascending') {
                    state['order'] = 'descending';
                } else {
                    state['order'] = 'ascending';
                }
            } else {
                state['order-by'] = this.getAttribute('data-column-name');            
            }
            refresh();
        });

        listen(search, 'click', '.search-result', function (event) {
            location.replace(this.getAttribute('data-href'));
        });

        // load previous state, if any
        window.addEventListener('load', function (event) {
            var tmp;
            try {
                tmp = JSON.parse(sessionStorage.getItem('search-asteroids.html#state'));
                if (tmp != null) {
                    state = tmp;
                }
            } catch (_) {}
            refresh();
        });

        // save state to session storage before navigating from page
        window.addEventListener('beforeunload', function (event) {
            sessionStorage.setItem('search-asteroids.html#state', JSON.stringify(state));
        });

    }());
    </script>

</html>




