html {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    box-sizing: border-box;

    margin: 1em;
    border: 0;
    padding: 0;

    background-color: #fff;
    color: #000;

}

*, :before, :after {
    font-family: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {}

section {
    /* margin: 1em; */
}

header {
    border-bottom: thick solid #eee;
    margin-bottom: 1em;
}

[hidden] { /* for legacy platforms */
    display: none;
}

#server-error {
    position: fixed;
    z-index: 20000;
    
    top: 0;
    left:0;
    width: 20em;
    
    padding: 1em;
    border: 0;
    margin 1em;
    
    color: #fff;
    background-color: #b77;
}
