[data-href], .column-header {
    cursor: pointer;
}






/* tables */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.items {
    border-top: thin solid #bbb;
}
.items > :nth-child(2n+1) {
    background-color: #eee;
}

td, th {
    text-align: left;
    vertical-align: center;
    min-width: 5em;
}

.items td, .items th {
    padding: 0.5em;
}

.column-header:after {
    content: ' \0025b2';
    color: #fff;
}

.column-header.selected:after {
    content: ' \0025b2';
    color: #000;
}


.column-header.descending:after {
    content: ' \0025bc';
    color: #fff;
}

.column-header.selected.descending:after {
    content: ' \0025bc';
    color: #000;
}

.paging {
    float: right;
}







/* inputs */

input[type="button"], input[type="submit"], input[type="reset"] {
    padding: 0.5em;
    border: 0;
    margin: 0;
    border-radius: 0.2em;
    border-width: thin;
    border-style: solid;
    color: #fff;
}

input:hover {
    border: thin solid #bbb;
}

input[type="button"] {
    background-color: #bbb;
}

input[type="submit"] {
    background-color: #7b7;
}

input[type="reset"] {
    background-color: #b77;
}

input[type="text"], input[type="search"] {
    
    font-family: inherit;
    width: 90%;
    padding: 0.5em;
    border: thin solid #eee;
}

:disabled {
    background-color: #eee !important;
}

.invalid {
    background-color: #fbb;
}





/* tabs */

.tab-link {
    display: inline-block;

    padding: 1em;
    border-width: thick;
    margin: 0;

    color: #000;

    text-decoration: none;
}

.tab-link.selected {
    border-top-style: solid;
    border-top-color: #f70;

    color: #000;
    background-color: #eee;
}

.tab-link:hover {
    border-top-style: solid;
    border-top-color: #f70;
}





/* modals */

.modal {
    z-index: 1000;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-y: scroll;

    padding: 2em;

    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    color: #000;
    background-color: #fff;
    padding: 1em 1em;
    border: 0;
    margin: 1em auto;
    width: 90%;
    min-width: 42em;
}

.modal-content input[type="button"] {
    background-color: #fb0;
}

.modal-exit-link {
    position: fixed;
    top: 0;
    right: 0;

    padding: 0.5em;
    border: 0;
    margin: 1em;

    border-radius: 0.2em;

    background-color: #bbb;
    color: #fff;

    text-decoration: none;
}













/* progress */

progress {
    width: 100%;
}


